 .logo {
     margin: 80px auto 10px auto;
     display: block;
 }
 
 .contenu {
     background: url('../../assets/login.png') center 0px;
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 .input {
     color: green;
     font-size: 1.2em;
     background-color: transparent;
 }