<ion-header>
    <ion-navbar color="bar">
        <ion-title>
            EzoSmart
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="skip()">
           Skip 
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-padding>

    <ion-slides pager="true" loop autoplay="2000" style="background:orange;opacity:0.5">

        <ion-slide>
            <p>EzoSmart</p>
        </ion-slide>

        <ion-slide>
            <p> EP-Group | Energy for people est la startup sociale togolaise qui apporte des solutions d’accès aux énergies renouvelables</p>
        </ion-slide>

        <ion-slide>
            <p>Pour permettre la durabilité et une maintenance prédictive des installations solaires, une gestion numérique en est associée partir de l’application Ezosmart téléchargeable pour différents terminaux : PC, Android, Windows phone et iOS.</p>
        </ion-slide>

    </ion-slides>
</ion-content>